In [1]:
pip install Faker

Collecting Faker
  Downloading https://files.pythonhosted.org/packages/e4/be/d03e305f1d879f541c23d586023ec11b124d6cc3d75a95159470754134d9/Faker-8.10.0-py3-none-any.whl (1.2MB)
     |████████████████████████████████| 1.2MB 7.6MB/s
Requirement already satisfied: python-dateutil>=2.4 in /usr/local/lib/python3.7/dist-packages (from Faker) (2.8.1)
Requirement already satisfied: text-unidecode==1.3 in /usr/local/lib/python3.7/dist-packages (from Faker) (1.3)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.4->Faker) (1.15.0)
Installing collected packages: Faker
Successfully installed Faker-8.10.0

In [2]:
import datetime
import random
from collections import namedtuple
from datetime import date
from functools import wraps
from statistics import mode
from time import perf_counter

from faker import Faker
from numpy import random

In [3]:
# Using Faker create 1 fake profile
fake = Faker()
fake.profile()

{'address': '50249 Tonya Fork Apt. 549\nReeseborough, FL 57787',
 'birthdate': datetime.date(1943, 5, 30),
 'blood_group': 'B-',
 'company': 'Hayes-Stone',
 'current_location': (Decimal('32.741944'), Decimal('-99.261986')),
 'job': 'Engineer, land',
 'mail': 'jonathanhamilton@yahoo.com',
 'name': 'Jessica Harris',
 'residence': '210 Gabriel Mall Suite 797\nSouth Anita, MS 06315',
 'sex': 'F',
 'ssn': '409-72-5024',
 'username': 'johnjoyce',
 'website': ['http://burns.info/']}

In [4]:
# To make a named tuple named Profile with the keys in fake profile as fields
Profile = namedtuple('Profile', fake.profile().keys())

In [5]:
#Displaying fields in named tuple - Profile
Profile._fields

('job',
 'company',
 'ssn',
 'residence',
 'current_location',
 'blood_group',
 'website',
 'username',
 'name',
 'sex',
 'address',
 'mail',
 'birthdate')

In [6]:
#Example - Storing data in namedtuple
pr_store = Profile(**fake.profile())
pr_store

Profile(job='Librarian, public', company='Contreras PLC', ssn='556-68-3677', residence='Unit 8482 Box 3543\nDPO AE 85001', current_location=(Decimal('-73.1955005'), Decimal('33.978675')), blood_group='B+', website=['http://long.info/', 'https://www.barber-thomas.com/', 'http://evans.com/'], username='davidlee', name='Justin Wilson', sex='M', address='2871 Malone Spring\nEast Denisemouth, FL 76009', mail='grimesamanda@hotmail.com', birthdate=datetime.date(1961, 11, 22))

In [7]:
# Decorator for the execution time for named tuples and dictionary
def timed(fn):
    """ Decorator for run time of a function."""

    @wraps(fn)
    def inner(*args, **kwargs):
        """ Inner function - calculate the time."""
        start = perf_counter()
        result = fn(*args, **kwargs)
        end = perf_counter()
        time_elapsed = (end - start)
        return time_elapsed, result

    return inner

### Q1

In [8]:
def init_profiles_using_namedtuple(no_profiles: int):
    """Creating fake profiles for n number of people given as parameter using namedTuples"""
    profiles = []
    Profile = namedtuple('Profile', fake.profile().keys())
    for _ in range(no_profiles):
        profiles.append(Profile(**fake.profile()))
    return profiles

In [9]:
#Testing by creating 5 fake profiles by profile Generation Function using Namedtuples
init_profiles_using_namedtuple(5)

[Profile(job='Lawyer', company='Hernandez and Sons', ssn='417-53-6168', residence='2370 Michael Lodge Suite 292\nPort Kennethview, VA 98485', current_location=(Decimal('62.0933895'), Decimal('24.125910')), blood_group='A-', website=['http://www.gallegos.com/', 'http://www.patel.com/', 'http://morgan.org/', 'https://leonard.net/'], username='rcarpenter', name='Pamela Barnes', sex='F', address='180 Contreras Rue Suite 279\nNorth Timothy, SC 10810', mail='brenda98@yahoo.com', birthdate=datetime.date(1992, 3, 7)),
 Profile(job='Youth worker', company='Baker Inc', ssn='583-43-5092', residence='595 Mark Hills\nRichardsonport, AK 16436', current_location=(Decimal('1.384890'), Decimal('115.650479')), blood_group='A-', website=['http://long.org/', 'https://gillespie-simmons.com/', 'https://rowland.info/', 'http://adams.org/'], username='mayjohn', name='Alexander Johnson', sex='M', address='93807 Jennifer Square Apt. 660\nEast Cherylfurt, DE 69656', mail='alvaradotimothy@hotmail.com', birthdate=datetime.date(1936, 11, 15)),
 Profile(job='Restaurant manager, fast food', company='Taylor-Ferguson', ssn='530-92-3862', residence='764 Navarro Points Suite 528\nLake Michelle, OR 50081', current_location=(Decimal('18.148027'), Decimal('28.234166')), blood_group='A-', website=['http://www.barker.net/', 'https://www.mosley-moreno.info/'], username='warnerdaniel', name='Stephanie Ruiz', sex='F', address='3211 Reynolds Forge Suite 135\nAmyland, NE 14220', mail='wavila@hotmail.com', birthdate=datetime.date(1940, 4, 12)),
 Profile(job='Mechanical engineer', company='Stone, Wong and Benitez', ssn='290-74-5373', residence='PSC 5655, Box 6392\nAPO AE 32223', current_location=(Decimal('-40.244640'), Decimal('-14.404784')), blood_group='A+', website=['https://johnson-walker.info/', 'http://ibarra.info/'], username='charlenegomez', name='Michael Wong', sex='M', address='USNS Jacobs\nFPO AP 33435', mail='garciayvette@yahoo.com', birthdate=datetime.date(1956, 8, 27)),
 Profile(job='Acupuncturist', company='Porter, Tucker and Young', ssn='862-43-1436', residence='USS Lee\nFPO AE 11374', current_location=(Decimal('-55.8007835'), Decimal('152.490614')), blood_group='B+', website=['http://harmon.biz/', 'https://snyder.com/', 'http://mcbride.com/'], username='johnlam', name='Anthony Perry', sex='M', address='Unit 3393 Box 0499\nDPO AA 52642', mail='rbyrd@yahoo.com', birthdate=datetime.date(2000, 6, 7))]

In [10]:
@timed
def oldest_person_nt(all_profile_nt: namedtuple) -> float:
    """This function finds the oldest person & calculates the duration. Returns minimum birthdate and time. """
    """Param: all_profile_nt: Named tuple containing all profiles"""
    value = min(all_profile_nt, key=lambda v: v[-1])
    date_today = datetime.date.today()
    age = (date_today - value.birthdate).days
    return int(age / 365)

In [11]:
@timed
def average_age_nt(all_profile_nt: namedtuple) -> tuple:
    """Function to finds the average age of the person and calculated duration to perform that operation. \
            Returns average age and time."""
    """Param: all_profile_nt: Named tuple containing all profiles"""
    today = date.today()
    value = sum(map(lambda v: today.year - v[-1].year - ((today.month, today.day) < (
        v[-1].month, v[-1].day)), all_profile_nt)) / len(all_profile_nt)
    return value

In [12]:
@timed
def average_coordinates_nt(all_profile_nt: namedtuple) -> tuple:
    """Function to finds average coordinates & calculates duration to perform that operation. \
    Returns average coordinates and time."""
    """Param: all_profile_nt: Named tuple containing all profiles"""
    x, y = sum(map(lambda t: t[0], map(lambda v: v[4], all_profile_nt))) / len(all_profile_nt), sum(
        map(lambda t: t[1], map(lambda v: v[4], all_profile_nt))) / len(all_profile_nt)
    return x, y

In [13]:
@timed
def max_blood_group_nt(all_profile_nt: namedtuple) -> tuple:
    """Function uses the mode function defined in statistics library to find the most occurred blood group from the list. \
    The list is generated using the lambda function and returned to the mode function as a parameters. \
    The code is then timed and the result and time is sent back."""
    """Param:all_profile_nt: Named tuple containing all profiles"""
    blood_group = mode(list(map(lambda v: v[5], all_profile_nt)))
    return blood_group

In [14]:
def time_nt(fk_profile_nt: namedtuple, n: int) -> 'float':
    ti = 0
    for _ in range(n):
        total_exec_time_nt = oldest_person_nt(fk_profile_nt)[0] + average_age_nt(fk_profile_nt)[
            0] + average_coordinates_nt(fk_profile_nt)[0] + max_blood_group_nt(fk_profile_nt)[0]
        ti += total_exec_time_nt
    return ti / n

In [15]:
fk_Profile_nt = init_profiles_using_namedtuple(10000)
len(fk_Profile_nt)

10000

In [16]:
oldest_person_nt(fk_Profile_nt)

(0.004109388999992802, 116)

In [17]:
average_age_nt(fk_Profile_nt)

(0.012436347999994268, 57.2591)

In [18]:
average_coordinates_nt(fk_Profile_nt)

(0.012095028000004504, (Decimal('0.69344521645'), Decimal('-0.800044699')))

In [19]:
max_blood_group_nt(fk_Profile_nt)

(0.005976205999999706, 'AB-')

In [20]:
time_taken_by_ntuple = 0
N = 10000
for _ in range(N):
    total_exec_time_nt = oldest_person_nt(fk_Profile_nt)[0] + average_age_nt(fk_Profile_nt)[0] + average_coordinates_nt(fk_Profile_nt)[0]+ max_blood_group_nt(fk_Profile_nt)[0] 
    time_taken_by_ntuple+=total_exec_time_nt
print(time_taken_by_ntuple/N)

0.01646678872740014

### Q2

In [21]:
# Converting the Data generated above as list of Dictionary
fk_Profile_dict = {'Profile'+str(_):t._asdict() for _, t in enumerate(fk_Profile_nt)}

In [22]:
@timed
def oldest_person_dc(all_profile_dict: dict) -> float:
    """Function finds the oldest person & calculates the duration to perform that operation. \
    Returns birthdate and time."""
    """Param:all_profile_dc: dictionary containing all profiles"""
    value = min(all_profile_dict.values(), key=lambda v: v['birthdate'])
    date_today = datetime.date.today()
    age = (date_today - value['birthdate']).days
    return int(age / 365)

In [23]:
@timed
def average_age_dc(all_profile_dict: dict) -> float:
    """Function finds the average age & calculates the duration to perform that operation. \
    Returns Age and time."""
    """Param:all_profile_dc: Dictionary containing all profiles"""
    today = date.today()
    value = sum(map(lambda v: today.year - v['birthdate'].year - ((today.month, today.day) < (
        v['birthdate'].month, v['birthdate'].day)), all_profile_dict.values())) / len(all_profile_dict)
    return value

In [24]:
@timed
def average_coordinates_dc(all_profile_dict: dict) -> tuple:
    """Function finds the average coordinates & calculates the duration to perform that operation. \
    Returns average coordinates time."""
    """Param:all_profile_dc: dictionary containing all profiles"""
    x, y = sum(map(lambda t: t[0], map(lambda v: v['current_location'], all_profile_dict.values()))) / len(
        all_profile_dict.values(
        )), sum(map(lambda t: t[1], map(lambda v: v['current_location'], all_profile_dict.values()))) / len(
        all_profile_dict.values())
    return x, y

In [25]:
@timed
def max_blood_group_dc(all_profile_dict: dict) -> tuple:
    """Function uses the mode function defined in statistics library to find the most occurred blood group from the list. \
    The list is generated using the lambda function and returned to the mode function as a parameters. \
    The code is then timed and the result and time is sent back."""
    """Param:all_profile_dc: dictionary containing all profiles"""
    value = mode(
        list(map(lambda v: v['blood_group'], all_profile_dict.values())))
    return value

In [26]:
oldest_person_dc(fk_Profile_dict)

(0.006480673999988085, 116)

In [27]:
average_age_dc(fk_Profile_dict)

(0.011896602000007306, 57.2591)

In [28]:
average_coordinates_dc(fk_Profile_dict)

(0.013663264999991043, (Decimal('0.69344521645'), Decimal('-0.800044699')))

In [29]:
max_blood_group_dc(fk_Profile_dict)

(0.008484844000008707, 'AB-')

In [30]:
time_taken_by_dic = 0
N  = 10000
for i in range(N):
    total_exec_time_dc = oldest_person_dc(fk_Profile_dict)[0] + average_age_dc(fk_Profile_dict)[0] + average_coordinates_dc(fk_Profile_dict)[0]+ max_blood_group_dc(fk_Profile_dict)[0] 
    time_taken_by_dic+=total_exec_time_dc
print(time_taken_by_dic/N)

0.020288016453600066

### Prove that namedtuple is faster

In [31]:
# printing fastest among namedtuple and dicm

def is_fast(time_taken_by_dic, time_taken_by_ntuple):
      
    if time_taken_by_dic <= time_taken_by_ntuple:
        print ('Both have took equal? / dictionary took least? Not possible!!!')
        return ('Hence not proven' )
    else:
        print ('NamedTuple are faster than dictionary')
        return ('Hence proven' )
      
# Driver code
print(is_fast(time_taken_by_dic, time_taken_by_ntuple))

NamedTuple are faster than dictionary
Hence proven

### Q3

In [32]:
# Returns a Symbol of the the Company
def symbol(string: str) -> str:
    """Returns joined string if characters are upper case"""
    length_ = len(string)
    p1 = random.randint(1, length_ - 1, 2)
    chars = []
    for char in string:
        chars.append(char)
    chars[p1[0]] = chars[p1[0]].upper()
    chars[p1[1]] = chars[p1[1]].upper()
    return ''.join(x for x in chars if x.isupper()) + str(random.randint(9))

In [33]:
def stock_market():
    """
    To create a fake stock data set for imaginary stock exchange for top 100 companies (name, symbol, open, high, close).
    Tasks_ToDo: Assign a random weight to all the companies. Calculate and show what value stock market started at, what was the highest value during the day and where did it end.
    """
    all_companies = []
    Stocks = namedtuple("Stocks", 'name symbol open high close company_weight')
    MkValue_  = random.uniform(1000, 50000, 100)
    wts_ = random.uniform(0,1,100)
    wts_ = wts_/sum(wts_)
    
    for _ in range(100):
        name = fake.company()
        open_ = round(MkValue_[_], 2)*wts_[_]
        close = round(open_ * random.uniform(0.7,1.15),2)
        high = round(open_ * random.uniform(0.85,1.15),2)
        if high < open_:
            high = open_
        if high < close:
            high = close

        all_companies.append(Stocks(name=name, symbol=symbol(name), open=open_, high=round(high, 2), close=round(close, 2), company_weight=round(wts_[_], 4)))

    stock_index = round(sum(x.open * x.company_weight for x in all_companies), 4)
    highest_for_day = round(sum(x.high * x.company_weight for x in all_companies), 2)
    lowest_close_for_day = round(sum(x.close * x.company_weight for x in all_companies), 2)

    print(f"\n>>>>>Top 100 listed companies of FSE(Fake Stock Exchange)<<<<<")
    [print(f" {x} '\n") for x in sorted(all_companies, key=lambda x:x.symbol)]
    print(f"\n>>>Main details on {date.today()}<<<")
    print(f"\nStart of the day: {stock_index}")
    print(f"Highest for the day: {highest_for_day}")
    print(f"Lowest close for the day: {lowest_close_for_day}")

In [34]:
stock_market()

>>>>>Top 100 listed companies of FSE(Fake Stock Exchange)<<<<<
 Stocks(name='Acevedo, Simpson and Mcintyre', symbol='ACSMT4', open=145.83788814154929, high=147.53, close=147.53, company_weight=0.0061) '

 Stocks(name='Allen Inc', symbol='AIN3', open=733.0253733064098, high=751.34, close=751.34, company_weight=0.0169) '

 Stocks(name='Barnes-Cunningham', symbol='BCUN6', open=582.4757032324027, high=668.76, close=534.49, company_weight=0.0132) '

 Stocks(name='Brown and Sons', symbol='BDS3', open=542.4777194313576, high=542.48, close=413.48, company_weight=0.0142) '

 Stocks(name='Beck, Lopez and Avery', symbol='BLNDA4', open=322.68610502618174, high=344.03, close=266.23, company_weight=0.0116) '

 Stocks(name='Buckley-Rocha', symbol='BLR3', open=429.79498538277574, high=439.64, close=393.22, company_weight=0.0091) '

 Stocks(name='Brock, Miller and Johnson', symbol='BMJ0', open=709.2231658528109, high=709.22, close=524.26, company_weight=0.0154) '

 Stocks(name='Brown Group', symbol='BRNG2', open=107.0736918670054, high=107.07, close=101.18, company_weight=0.013) '

 Stocks(name='Brown, Perez and Roman', symbol='BRPR6', open=117.08534974494728, high=119.78, close=97.59, company_weight=0.0066) '

 Stocks(name='Bates, Raymond and Smith', symbol='BRST0', open=296.6246120024476, high=296.62, close=278.14, company_weight=0.0104) '

 Stocks(name='Blackwell, Saunders and Moss', symbol='BSDM1', open=495.5866031432161, high=495.59, close=413.05, company_weight=0.0132) '

 Stocks(name='Bates LLC', symbol='BTLLC2', open=448.6976886030834, high=468.05, close=352.97, company_weight=0.0107) '

 Stocks(name='Chapman-Foster', symbol='CAFO1', open=34.65922657030435, high=34.66, close=34.39, company_weight=0.0127) '

 Stocks(name='Campbell LLC', symbol='CALLLC7', open=197.25214908465028, high=209.33, close=189.61, company_weight=0.0114) '

 Stocks(name='Carlson, Wells and Moore', symbol='CAWDM1', open=76.3521986880786, high=76.35, close=57.06, company_weight=0.0036) '

 Stocks(name='Cooley-Brown', symbol='CEBO8', open=59.3981301276225, high=59.4, close=53.05, company_weight=0.0117) '

 Stocks(name='Chung-Erickson', symbol='CECK0', open=285.7833191506022, high=291.72, close=291.72, company_weight=0.0173) '

 Stocks(name='Chavez, Gomez and Cordova', symbol='CGACD5', open=399.26902613366525, high=399.27, close=335.67, company_weight=0.0084) '

 Stocks(name='Calderon, Kelly and Jackson', symbol='CLDKJ5', open=431.4174166688714, high=431.42, close=396.04, company_weight=0.0105) '

 Stocks(name='Camacho, Nelson and Moore', symbol='CNLSM1', open=784.6602255522353, high=897.77, close=897.77, company_weight=0.0175) '

 Stocks(name='Chandler, Robinson and Hawkins', symbol='CRNDH6', open=258.41771122755654, high=292.89, close=255.5, company_weight=0.0079) '

 Stocks(name='Cantrell, Rice and Rodriguez', symbol='CRRRG4', open=322.9922652432301, high=322.99, close=321.13, company_weight=0.0081) '

 Stocks(name='Diaz-Flynn', symbol='DFY0', open=202.03813404874873, high=227.66, close=168.29, company_weight=0.0088) '

 Stocks(name='Edwards LLC', symbol='EDSLLC5', open=35.58474389528953, high=35.58, close=26.48, company_weight=0.016) '

 Stocks(name='Estrada Ltd', symbol='ESAL2', open=463.12497266848516, high=485.92, close=485.92, company_weight=0.0104) '

 Stocks(name='Francis, Bowen and Johnson', symbol='FBJO0', open=48.774080894580166, high=49.86, close=49.03, company_weight=0.0027) '

 Stocks(name='Fowler, Perez and Hansen', symbol='FPAH8', open=95.77718300726362, high=101.68, close=101.68, company_weight=0.0026) '

 Stocks(name='Frost Ltd', symbol='FSL0', open=74.59568172872065, high=84.27, close=84.27, company_weight=0.0047) '

 Stocks(name='Gonzalez, Ramirez and Pierce', symbol='GLRPR2', open=600.3155613734692, high=600.32, close=425.95, company_weight=0.0149) '

 Stocks(name='Green Inc', symbol='GNIN6', open=222.6833146999281, high=222.68, close=213.41, company_weight=0.0053) '

 Stocks(name='Gregory LLC', symbol='GOLLC5', open=16.708418324985416, high=17.84, close=15.55, company_weight=0.0007) '

 Stocks(name='Guerrero-Douglas', symbol='GRDG0', open=179.23414869873596, high=179.23, close=129.28, company_weight=0.0124) '

 Stocks(name='Holmes, Gutierrez and Ramos', symbol='HGAR5', open=350.5706131023653, high=355.75, close=316.99, company_weight=0.0132) '

 Stocks(name='Howell Group', symbol='HGO6', open=63.64372580514675, high=71.8, close=71.8, company_weight=0.0074) '

 Stocks(name='Hammond-Kelley', symbol='HKE0', open=114.41646622020724, high=114.42, close=96.64, company_weight=0.0056) '

 Stocks(name='Hill, Marquez and Ross', symbol='HMNR5', open=26.51220620765726, high=28.11, close=27.24, company_weight=0.0083) '

 Stocks(name='Hunt-Robinson', symbol='HRI2', open=321.3761333656824, high=321.38, close=309.4, company_weight=0.0125) '

 Stocks(name='Hernandez and Sons', symbol='HRSO7', open=121.21126722802214, high=135.83, close=85.06, company_weight=0.0062) '

 Stocks(name='Hughes and Sons', symbol='HUS7', open=325.6008114546229, high=325.6, close=289.11, company_weight=0.0141) '

 Stocks(name='Ingram, Wood and Cooper', symbol='IMWOC2', open=261.2439667870646, high=261.24, close=187.44, company_weight=0.0121) '

 Stocks(name='Johnson-Mcbride', symbol='JNOM6', open=48.22564344189864, high=48.23, close=39.41, company_weight=0.0025) '

 Stocks(name='Jennings-Holder', symbol='JNSH8', open=375.0995147993485, high=398.67, close=358.22, company_weight=0.0164) '

 Stocks(name='Johnson-Johnson', symbol='JOJ3', open=320.0908823035661, high=320.09, close=237.71, company_weight=0.0065) '

 Stocks(name='Johnson-Pittman', symbol='JONP0', open=554.509990148491, high=554.51, close=513.89, company_weight=0.0124) '

 Stocks(name='Jacobson, Rivera and Chen', symbol='JRAC5', open=429.3389424346279, high=449.93, close=371.36, company_weight=0.0164) '

 Stocks(name='Kaufman Group', symbol='KAGO5', open=50.76348662030244, high=55.09, close=53.44, company_weight=0.006) '

 Stocks(name='Kent-Alvarado', symbol='KAV5', open=468.66677934798497, high=493.15, close=493.15, company_weight=0.0173) '

 Stocks(name='Martinez Group', symbol='MEGU8', open=409.5378445017718, high=462.9, close=462.9, company_weight=0.0105) '

 Stocks(name='Martinez and Sons', symbol='MIAS7', open=241.95445958214128, high=244.73, close=222.03, company_weight=0.015) '

 Stocks(name='Miller, Reyes and Rodriguez', symbol='MIRRU2', open=839.4473154970888, high=839.45, close=687.28, company_weight=0.0175) '

 Stocks(name='Mills-Barrera', symbol='MLBR4', open=53.5211874174359, high=54.4, close=37.64, company_weight=0.0129) '

 Stocks(name='Mann-Maddox', symbol='MNMD1', open=101.89070177371666, high=101.89, close=78.56, company_weight=0.0116) '

 Stocks(name='Montgomery-Ward', symbol='MOOW0', open=206.34671521498186, high=230.3, close=162.45, company_weight=0.013) '

 Stocks(name='Moore-Smith', symbol='MOS5', open=126.99508611770803, high=137.09, close=132.82, company_weight=0.0097) '

 Stocks(name='Miller, Hill and Gutierrez', symbol='MRHG5', open=176.31734742077177, high=185.66, close=185.66, company_weight=0.0074) '

 Stocks(name='Morales Ltd', symbol='MRLL8', open=414.561479646103, high=414.56, close=411.39, company_weight=0.0103) '

 Stocks(name='Morrow PLC', symbol='MRWPLC4', open=277.69675392564136, high=305.11, close=305.11, company_weight=0.0128) '

 Stocks(name='Nelson, Edwards and Lewis', symbol='NEWL2', open=243.50587077829596, high=243.51, close=190.37, company_weight=0.0121) '

 Stocks(name='Nelson-Rodriguez', symbol='NNRD1', open=34.09780199267115, high=34.1, close=33.43, company_weight=0.0128) '

 Stocks(name='Nicholson-Ortiz', symbol='NOO3', open=281.1080515277918, high=297.05, close=209.42, company_weight=0.0064) '

 Stocks(name='Nichols, Foster and Buck', symbol='NSFB2', open=585.120233858162, high=607.29, close=607.29, company_weight=0.014) '

 Stocks(name='Park, Boyle and Rose', symbol='PBNR4', open=33.44344288268114, high=38.07, close=34.61, company_weight=0.0029) '

 Stocks(name='Prince-Logan', symbol='PILA4', open=17.493518920265167, high=17.91, close=12.88, company_weight=0.0008) '

 Stocks(name='Parker-Tran', symbol='PRT0', open=108.62398932916986, high=108.62, close=98.75, company_weight=0.0026) '

 Stocks(name='Pollard-Scott', symbol='PS2', open=396.3930803803306, high=439.4, close=439.4, company_weight=0.008) '

 Stocks(name='Ramos, Bishop and Nicholson', symbol='RBSNI2', open=51.43690136886191, high=52.75, close=39.56, company_weight=0.0052) '

 Stocks(name='Reyes Ltd', symbol='REL1', open=617.4918726164667, high=617.49, close=587.16, company_weight=0.0128) '

 Stocks(name='Reed Group', symbol='RGR5', open=28.1889227956195, high=31.84, close=25.47, company_weight=0.003) '

 Stocks(name='Ritter-Knight', symbol='RKH5', open=163.5737624035281, high=181.73, close=181.73, company_weight=0.0034) '

 Stocks(name='Ramos-Johnson', symbol='RMJH2', open=171.33531913540364, high=193.32, close=121.96, company_weight=0.0097) '

 Stocks(name='Reid, Mann and Moreno', symbol='RMMR4', open=285.3356925141374, high=321.53, close=321.53, company_weight=0.0099) '

 Stocks(name='Romero, Joseph and Peterson', symbol='ROJP5', open=87.50512389429161, high=88.46, close=88.46, company_weight=0.0178) '

 Stocks(name='Robertson LLC', symbol='ROLLC1', open=358.051888711985, high=358.05, close=264.41, company_weight=0.0165) '

 Stocks(name='Ramirez PLC', symbol='RPLC1', open=30.14460388803801, high=32.58, close=32.58, company_weight=0.0037) '

 Stocks(name='Rasmussen, Palmer and Sullivan', symbol='RPMSA2', open=261.6414603481509, high=261.64, close=254.27, company_weight=0.0053) '

 Stocks(name='Schwartz-Rice', symbol='SAZR0', open=161.3463866076844, high=175.48, close=175.48, company_weight=0.006) '

 Stocks(name='Spencer, Harvey and Jones', symbol='SCHJE4', open=106.28325842988521, high=106.28, close=81.24, company_weight=0.0172) '

 Stocks(name='Shea-Ingram', symbol='SIGA4', open=57.58905789760268, high=64.61, close=64.61, company_weight=0.003) '

 Stocks(name='Solis, Lewis and Lloyd', symbol='SLAL7', open=654.3319179719849, high=741.53, close=741.53, company_weight=0.0169) '

 Stocks(name='Smith, Miller and Skinner', symbol='SMLES4', open=768.7525326702021, high=871.55, close=845.84, company_weight=0.0166) '

 Stocks(name='Sandoval PLC', symbol='SOVPLC3', open=73.59710932107275, high=80.35, close=74.44, company_weight=0.009) '

 Stocks(name='Sanchez, Saunders and Johnson', symbol='SSSJ3', open=144.36008195796927, high=147.24, close=112.69, company_weight=0.0168) '

 Stocks(name='Thomas, Estrada and Pruitt', symbol='TEAP4', open=166.72457989549858, high=181.07, close=136.95, company_weight=0.0135) '

 Stocks(name='Townsend, Ferrell and Lopez', symbol='TNFRL8', open=770.2279416325724, high=786.41, close=786.41, company_weight=0.0165) '

 Stocks(name='Torres Inc', symbol='TORI5', open=111.40709516388466, high=121.21, close=110.87, company_weight=0.0073) '

 Stocks(name='Vasquez, Williams and Foster', symbol='VWIDF4', open=176.89205475509266, high=197.3, close=137.45, company_weight=0.0142) '

 Stocks(name='Wang and Sons', symbol='WAS8', open=132.82226387654697, high=132.82, close=101.38, company_weight=0.0071) '

 Stocks(name='Whitney, Brown and Baker', symbol='WBBK1', open=16.346771624154382, high=17.34, close=17.34, company_weight=0.0019) '

 Stocks(name='Weaver-Jimenez', symbol='WEJ8', open=77.68430770970372, high=77.68, close=68.24, company_weight=0.0035) '

 Stocks(name='Wiggins, Vasquez and Martinez', symbol='WGVSM2', open=57.70675507875147, high=57.71, close=44.23, company_weight=0.0023) '

 Stocks(name='White and Sons', symbol='WHDS0', open=229.7836531661789, high=229.78, close=208.98, company_weight=0.0117) '

 Stocks(name='Williams, Martin and Wilson', symbol='WIAMW1', open=466.75651390761175, high=466.76, close=436.75, company_weight=0.0105) '

 Stocks(name='Williams Ltd', symbol='WIL1', open=246.52533116513303, high=246.53, close=188.9, company_weight=0.0055) '

 Stocks(name='Watts, Jones and Tucker', symbol='WJTE2', open=316.671582644956, high=316.67, close=244.43, company_weight=0.012) '

 Stocks(name='Walker-Little', symbol='WLT8', open=31.3188103212709, high=35.04, close=29.4, company_weight=0.001) '

 Stocks(name='Wilson and Sons', symbol='WNSN7', open=128.7763077279346, high=128.78, close=110.37, company_weight=0.0185) '

 Stocks(name='Warren-Vaughan', symbol='WNVG1', open=221.04992615073243, high=225.12, close=225.12, company_weight=0.0093) '

 Stocks(name='Ward-Morton', symbol='WRMO6', open=46.81263689162336, high=47.86, close=37.8, company_weight=0.0057) '

 Stocks(name='Young Ltd', symbol='YOLT0', open=118.3865836253386, high=118.39, close=95.66, company_weight=0.0048) '

 Stocks(name='Zimmerman-Martin', symbol='ZMMM0', open=482.75900768886305, high=482.76, close=467.78, company_weight=0.0163) '


>>>Main details on 2021-07-12<<<

Start of the day: 320.3255
Highest for the day: 333.93
Lowest close for the day: 298.13